etc/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* Magelight
*
* NOTICE OF LICENSE
*
* This file is open source and it`s distribution is based on
* Open Software License (OSL 3.0). You can obtain license text at
* http://opensource.org/licenses/osl-3.0.php
*
* For any non license implied issues please contact rganin@gmail.com
*
* DISCLAIMER
*
* This file is a part of a framework. Please, do not modify it unless you discard
* further updates.
*
* @version 1.0
* @author Roman Ganin
* @copyright Copyright (c) 2012-2015 rganin (rganin@gmail.com)
* @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
*/
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config">
        <xs:complexType>
            <xs:all>
                <xs:element name="global" type="configScopeType" minOccurs="0" maxOccurs="1" />
                <xs:element name="admin" minOccurs="0" maxOccurs="1" />
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="configScopeType">
        <xs:annotation>
            <xs:documentation>
                Scope configuration: 'default' or 'admin'.
            </xs:documentation>
        </xs:annotation>
    </xs:complexType>
</xs:schema>
