etc/module.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* Magelight
*
* NOTICE OF LICENSE
*
* This file is open source and it`s distribution is based on
* Open Software License (OSL 3.0). You can obtain license text at
* http://opensource.org/licenses/osl-3.0.php
*
* For any non license implied issues please contact rganin@gmail.com
*
* DISCLAIMER
*
* This file is a part of a framework. Please, do not modify it unless you discard
* further updates.
*
* @version 1.0
* @author Roman Ganin
* @copyright Copyright (c) 2012-2015 rganin (rganin@gmail.com)
* @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
*/
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="module">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="moduleNameType" minOccurs="1" maxOccurs="1" />
                <xs:element name="require" type="moduleNameType" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="uniqueModuleRequire">
            <xs:annotation>
                <xs:documentation>
                    Duplicate module requirement not allowed.
                </xs:documentation>
            </xs:annotation>
            <xs:selector xpath="."/>
            <xs:field xpath="require" />
        </xs:unique>
    </xs:element>

    <xs:simpleType name="moduleNameType">
        <xs:annotation>
            <xs:documentation>
                Module name. Sample: 'Magelight_Core'
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9_]+" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
